// -----------------------------------------------------------------------------
//   Base abbreviation
// -----------------------------------------------------------------------------

// abbr dotted underline, applied both with native title attribute and when
// using Tippy.js. The underline thickness is shared with other underlines for
// consistency.
.layout-container,
.offcanvas-panel {

  abbr[title],
  abbr[data-original-title] {

    // Remove the normalize.css border bottom.
    border-bottom-width: 0;

    cursor: help;

    text-decoration-style:      dotted;
    text-decoration-line:       underline;
    text-decoration-thickness:  var(--text-decoration-thickness, 2px);

  }

}
