// -----------------------------------------------------------------------------
//   z-indexes partial
// -----------------------------------------------------------------------------

@use '@sass-fairy/exception';
// @see https://sass-fairy.com/api/list#combined-api
@use '@sass-fairy/list/list';

///
/// Stacking order. Earlier in the list means a higher z-index.
///
$_stacking-order:

  // Page progress bar, i.e. RefreshLess.
  page-progress-bar,

  // Page transition overlay, i.e. RefreshLess.
  page-transition-overlay,

  // Popovers, such as tooltips.
  popovers,

  // Modal elements that block access to the rest of the document.
  modal,

  // Modal overlay. This should be below 'modal'.
  modal-overlay,

  // Drupal administration navigation.
  admin-toolbar,

  // Drupal administration navigation control bar.
  //
  // This is the bar on small screens that contains the "Expand sidebar" button.
  admin-toolbar-control-bar,

  // Drupal administration navigation overlay.
  //
  // This is used on small screens when the sidebar is opened.
  admin-toolbar-overlay,

  // Drupal administration navigation top bar.
  //
  // This is the bar visible at all screen sizes along the top containing local
  // tabs and actions.
  admin-toolbar-top-bar,

  // In-page administration controls - such as contextual links - that need to
  // be on top of most other page elements.
  in-page-admin,

  // Right above floating elements.
  floating-above,

  // Floating elements, usually visible to all site visitors.
  floating,

  // Right under floating elements.
  floating-below,

  // Sections that are always above other content; may be position: fixed
  // or sticky, but not necessarily.
  page-floating,

  // Main page content.
  page-main,

  // Secondary content, such as sidebars, footer, etc.
  page-secondary;

///
/// Reversed stacking order.
///
/// This is the actual value that's used for z-indexes and is only used
/// privately, with all public methods only exposing or working on the
/// non-reversed stacking order.
///
$_stacking-order-reversed: ();

///
/// Set the current stacking order.
///
/// This should be used sparingly and carefully, as it replaces the existing
/// stacking order.
///
/// @param {List} $stacking-order
///   The new stacking order to set. Earlier in the list means a higher z-index.
///
@mixin set-stacking-order($stacking-order) {

  // Update the stacking order, ensuring all values are unique.
  // Note that !global is required otherwise this would just set a local
  // variable instead of updating the global.
  $_stacking-order: list.distinct($stacking-order) !global;

  // The list must be reversed so that list.index() returns a correct z-index.
  // Note that !global is required otherwise this would just set a local
  // variable instead of updating the global.
  $_stacking-order-reversed: list.reverse($_stacking-order) !global;

}

// Set the default stacking order.
@include set-stacking-order($_stacking-order);

///
/// Get the current stacking order.
///
/// @return {List}
///   The current stacking order. Earlier in the list means a higher z-index.
///
@function get-stacking-order() {
  @return $_stacking-order;
}

///
/// Insert a new element into the stacking order just above a reference one.
///
/// @param {String} $reference-element
///   The reference element to insert $new-element above.
///
/// @param {String} $new-element
///   The new element to insert above $reference-element.
///
/// @throws If $reference-element isn't found in the stacking order.
///
/// @todo Allow moving an element if it already exists.
///
@mixin above($reference-element, $new-element) {

  $reference-index: list.index($_stacking-order, $reference-element);

  @if ($reference-index == 0) {

    @error exception.parameter(
      'The name "#{$reference-element}" does not exist in the stacking order',
      'above',
      'reference-element',
    );

  } @else if ($reference-index <= 1) {

    @include set-stacking-order(list.prepend($_stacking-order, $new-element));

  } @else {

    @include set-stacking-order(list.insert-nth(
      $_stacking-order, $reference-index, $new-element,
    ));

  }

}

///
/// Insert a new element into the stacking order just below a reference one.
///
/// @param {String} $reference-element
///   The reference element to insert $new-element below.
///
/// @param {String} $new-element
///   The new element to insert below $reference-element.
///
/// @throws If $reference-element isn't found in the stacking order.
///
/// @todo Allow moving an element if it already exists.
///
@mixin below($reference-element, $new-element) {

  $reference-index: list.index($_stacking-order, $reference-element);

  @if ($reference-index == 0) {

    @error exception.parameter(
      'The name "#{$reference-element}" does not exist in the stacking order',
      'below',
      'reference-element',
    );

  } @else if ($reference-index >= list.length($_stacking-order)) {

    @include set-stacking-order(list.append($_stacking-order, $new-element));

  } @else {

    @include set-stacking-order(list.insert-nth(
      $_stacking-order, $reference-index + 1, $new-element,
    ));

  }

}

///
/// Get the named element z-index based on the current stacking order.
///
/// @param {String} $name
///   The element to get the z-index for.
///
/// @return {Number}
///   The z-index value for $name.
///
/// @throws If $name isn't found in the stacking order.
///
@function get($name) {

  @if (list.index($_stacking-order-reversed, $name) == 0) {

    @error exception.parameter(
      'The name "#{$name}" does not exist in the stacking order',
      'get',
      'name',
    );

  }

  @return list.index($_stacking-order-reversed, $name);

}
