// -----------------------------------------------------------------------------
//   Base code block partial
// -----------------------------------------------------------------------------

@use '../layout/vertical_spacing' as vertical-spacing;
@use 'sass:color';
@use 'sass/helpers/colour';

///
/// Highlighted code background colour on light backgrounds.
///
$background-colour-on-light: color.mix(
  colour.$foreground-on-light, colour.$background-light, 15%
) !default;

///
/// Highlighted code background colour on dark backgrounds.
///
$background-colour-on-dark: color.mix(
  colour.$foreground-on-dark, colour.$background-dark, 10%
) !default;

///
/// Highlighted code header background colour on light backgrounds.
///
$header-background-colour-on-light: color.mix(
  colour.$foreground-on-light, colour.$background-light, 30%
) !default;

///
/// Highlighted code header background colour on dark backgrounds.
///
$header-background-colour-on-dark: color.mix(
  colour.$foreground-on-dark, colour.$background-dark, 20%
) !default;

///
/// Highlighted code string colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-string: #e7b248 !default;

///
/// Highlighted code string colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-string-on-light: color.scale(
  $colour-string, $lightness: -40%, $saturation: 50%,
) !default;

///
/// Highlighted code string colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-string-on-dark: $colour-string !default;

///
/// Highlighted code symbol colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-symbol: #f92468 !default;

///
/// Highlighted code symbol colour on light backgrounds.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-symbol-on-light: $colour-symbol !default;

///
/// Highlighted code symbol colour on dark backgrounds.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-symbol-on-dark: $colour-symbol !default;

///
/// Highlighted code number colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-number: #ac80ff !default;

///
/// Highlighted code number colour on light backgrounds.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-number-on-light: color.scale(
  $colour-number, $lightness: -30%, $saturation: -50%,
) !default;

///
/// Highlighted code number colour on dark backgrounds.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-number-on-dark: $colour-number !default;

///
/// Highlighted code keyword colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-keyword: #67d8ef !default;

///
/// Highlighted code keyword colour on light backgrounds.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-keyword-on-light: color.scale(
  $colour-keyword, $lightness: -45%,
) !default;

///
/// Highlighted code keyword colour on light backgrounds.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$colour-keyword-on-dark: $colour-keyword !default;

///
/// Highlighted code reserved word colour.
///
/// @link https://github.com/equinusocio/material-theme
///   Inspired by the Material Theme for Sublime Text.
$colour-reserved-word: #89ddff !default;

///
/// Highlighted code reserved word colour on light backgrounds.
///
/// @link https://github.com/equinusocio/material-theme
///   Inspired by the Material Theme for Sublime Text.
$colour-reserved-word-on-light: color.scale(
  $colour-reserved-word, $lightness: -45%, $saturation: -10%,
) !default;

///
/// Highlighted code reserved word colour on dark backgrounds.
///
/// @link https://github.com/equinusocio/material-theme
///   Inspired by the Material Theme for Sublime Text.
$colour-reserved-word-on-dark: $colour-reserved-word !default;

///
/// Highlighted code method colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
$colour-method: #a6ce28 !default;

///
/// Highlighted code method colour on light backgrounds.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
$colour-method-on-light: color.scale(
  $colour-method, $lightness: -30%, $saturation: 20%,
) !default;

///
/// Highlighted code method colour on dark backgrounds.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
$colour-method-on-dark: $colour-method !default;

:root {

  --code-block-header-padding-inline: var(--general-spacing);

  --code-block-header-padding-block: calc(var(--general-spacing) * 0.7);

  --code-block-body-padding-inline: var(--general-spacing);

  --code-block-body-padding-block: var(--general-spacing);

  --code-block-border-radius: var(--material-border-radius);

}

@at-root {
  @include vertical-spacing.against-previous(
    '.code-highlighted'
  );
}
.code-highlighted {

  // Header, displaying the human name of the code language.
  &__heading {

    margin: 0;

    padding:
      var(--code-block-header-padding-block)
      var(--code-block-header-padding-inline);

    @include colour.set(
      $background: $header-background-colour-on-light
    );

    @include colour.on-dark-scheme {
      @include colour.set(
        $background: $header-background-colour-on-dark
      );
    }

    border-top-left-radius:   var(--code-block-border-radius);
    border-top-right-radius:  var(--code-block-border-radius);

    // Reset line height to get a bit less vertical spacing.
    line-height: 1;

  }

  // The <pre> element containing all of the source code.
  &__code {

    // Reset any browser default margins.
    margin: 0;

    padding:
      var(--code-block-body-padding-block)
      var(--code-block-body-padding-inline);

    @include colour.set($background: $background-colour-on-light);

    @include colour.on-dark-scheme {
      @include colour.set($background: $background-colour-on-dark);
    }

    border-bottom-left-radius:  var(--code-block-border-radius);
    border-bottom-right-radius: var(--code-block-border-radius);

    overflow-x: auto;

    white-space: pre;

  }

  &__comment {
    opacity: 0.6;
  }

  &__symbol {

    color: $colour-symbol-on-light;

    @include colour.on-dark-scheme {
      color: $colour-symbol-on-dark;
    }

  }

  &__string {

    color: $colour-string-on-light;

    @include colour.on-dark-scheme {
      color: $colour-string-on-dark;
    }

  }

  &__number {

    color: $colour-number-on-light;

    @include colour.on-dark-scheme {
      color: $colour-number-on-dark;
    }

  }

  &__keyword {

    color: $colour-keyword-on-light;

    @include colour.on-dark-scheme {
      color: $colour-keyword-on-dark;
    }

    font-style: italic;

  }

  &__reserved-word {

    color: $colour-reserved-word-on-light;

    @include colour.on-dark-scheme {
      color: $colour-reserved-word-on-dark;
    }

  }

  &__method {

    color: $colour-method-on-light;

    @include colour.on-dark-scheme {
      color: $colour-method-on-dark;
    }

  }
}
