// -----------------------------------------------------------------------------
//   Base Drupal contextual links component
// -----------------------------------------------------------------------------

@use '../layout/z-index';

:where(:root) { // Zero specificity; easy to override.

  ///
  /// Contextual links z-index.
  ///
  --contextual-links-z-index: #{z-index.get(in-page-admin)};

}

.contextual {
  z-index: var(--contextual-links-z-index);
}

.contextual-links a {
  // Contextual links don't provide a class on the links themselves to exclude
  // from focus and link transitions. Until/if they get added, just remove all
  // the transitions that get applied from our focus and link styles.
  transition: none !important;
}
