// -----------------------------------------------------------------------------
//   Gin core Navigation module fixes
// -----------------------------------------------------------------------------

@use 'sass/helpers/breakpoint';

// These match the values the core Navigation uses, along with the names they
// use.
@include breakpoint.add((
  'core-navigation-desktop':  1024px,
  'core-navigation-tablet':   560px,
));

// These attempt to size icons to match the rest of the navigation which uses
// rem units. By default, --gin-icon-size-toolbar is set 20px, which results in
// the icons being smaller and off centre.
//
// @todo Can we use --admin-toolbar-rem to instead size the toolbar down a bit
//   to compensate for our responsive font size, or is that too risky since that
//   custom property might be removed as it appears to be a workaround for a
//   PostCSS plug-in issue?
:root {
  --gin-icon-size-toolbar: 1.45rem;
}

.admin-toolbar__logo {
  // Gin hard codes padding-inline: 10px; rather than custom properties, but
  // since we want this to be square, we need to use the same values for both
  // dimensions.
  width:  calc(var(--gin-icon-size-toolbar) + var(--gin-spacing-xs) * 2);
  height: calc(var(--gin-icon-size-toolbar) + var(--gin-spacing-xs) * 2);
}

// For some reason the control bar (on small screens) still causes displacement
// but isn't sticky nor fixed, resulting in Headroom or other elements that
// need stick to the top of the viewport being misplaced. This ensures that the
// control bar is always present at the top of the viewport to match the
// displacement.
.admin-toolbar-control-bar {

  position: sticky;

  top: 0;

}

.gin--navigation-top-bar {

  // Gin doesn't account for the Navigation menu not having any displacement
  // when narrower than this, instead using --admin-toolbar-sidebar-width at all
  // screen sizes. To fix that, we set it to zero here to have it ignore the
  // value in its calc(). Note that a unit is required for calc() to not fail.
  @include breakpoint.on('<core-navigation-desktop') {
    --admin-toolbar-sidebar-width: 0em;
  }

}
