// -----------------------------------------------------------------------------
//   Base social links component
// -----------------------------------------------------------------------------

@use '../elements/list';
@use 'icon';

.ambientimpact-social-links {
  $self: &;

  @include list.unlisted;

  &--orientation-horizontal {
    ///
    /// The padding value used to space network items.
    ///
    /// Note that we halve it so that it can be applied equally in all
    /// directions and then negated at the list level on the bounding box of the
    /// list, so that the spacing can be applied equally horizontally and
    /// vertically, regardless of how many rows and columns there are, e.g. when
    /// the network items wrap due to small screen width.
    ///
    --network-padding: calc(var(--general-spacing) / 2);

    margin: calc(var(--network-padding) * -1);

    // Override ../global/_layout.scss so that our horizontal negative margins
    // correctly alter the width past 100%.
    max-width: none;

    // Applying padding to the links so that the Tippy.js singleton
    // moveTransition doesn't choose to also apply to the show/hide if you
    // mouse around too slowly.
    & #{$self}__network-link {
      padding: var(--network-padding);
    }
  }

  &--display-icon-only {
    // Icons are larger when no text is visible.
    .ambientimpact-icon {
      @include icon.set-icon-size(icon.$icon-size * 2);
    }
  }
}
