// -----------------------------------------------------------------------------
//   Base tooltip configuration
// -----------------------------------------------------------------------------

:root {

  --tooltip-padding-block: 0.4em;

  --tooltip-padding-inline: 0.8em;

  --tooltip-arrow-bleed: 2px;

  --tooltip-move-transition-duration: 0.15s;

  --tooltip-move-transition-timing-function: var(--easing-decelerate, ease-out);

  --tooltip-move-transition: transform var(--tooltip-move-transition-duration)
    var(--tooltip-move-transition-timing-function);

}
