// -----------------------------------------------------------------------------
//   Base tooltip configuration
// -----------------------------------------------------------------------------

:root {

  --tooltip-padding-block: 0.4em;

  --tooltip-padding-inline: 0.8em;

  --tooltip-arrow-bleed: 2px;

}
