// -----------------------------------------------------------------------------
//   Base tooltip configuration
// -----------------------------------------------------------------------------

:root {

  --tooltip-content-max-width: 18em;

  --tooltip-padding-block: 0.4em;

  --tooltip-padding-inline: 0.8em;

  --tooltip-arrow-bleed: 6px;

  --tooltip-move-transition-duration: 0.15s;

  --tooltip-move-transition-timing-function: var(--easing-decelerate, ease-out);

  --tooltip-move-transition: transform var(--tooltip-move-transition-duration)
    var(--tooltip-move-transition-timing-function);

  --tooltip-offset-padding-block: var(--layout-gutter, 0.5em);

  --tooltip-offset-padding-inline: var(--layout-gutter, 0.5em);

}
